/* @media (max-width: 80em) {
  
} */

@media(max-width: 60em){
    .hero,.section-top{
        grid-template-columns: 1fr;
        max-width: 120rem;
    }
    .hero-img-box{
        grid-row: 1;
    }
    .grid--3-cols{
        grid-template-columns: repeat(2,1fr);
    }



    .btn-mobile-nav {
        display: block;
      }
      .main-nav {
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
    
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
    
        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */
    
        /* 1) Hide it visually */
        opacity: 0;
    
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
    
        /* 3) Hide it from screen readers */
        visibility: hidden;
      }
      html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
      }
    
      .hero {
        grid-template-columns: 1fr;
        padding: 5rem 2rem;
        gap: 5rem;
      }

      .heading-secoundary,
      .heading-last{
        margin-left: 2rem;
        font-size: 3rem;
      }
      .mobile-block{
        display: none;
      }

      .title{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .title-secoundary{
        margin-bottom: 0rem;
    }
}

@media(max-width: 40em){
    .grid--3-cols{
        grid-template-columns: 1fr;
    }

}