/* @media (max-width: 80em) {
    .hero{
        grid-template-columns: 1fr 1fr;

        
    }
    .hero-img{
        width: 100%;
    }

} */

@media(max-width: 80em) {
    .hero {
        grid-template-columns: 1fr 1fr;
        padding: 5rem 2rem;
        gap: 5rem;
        max-width: 120rem;
    }

    .container{
        max-width: 120rem;
        margin: auto;
    }
    .hero-img {
        width: 100%;
    }


    /* .section-top {

        max-width: 120rem;
    } */

    /* .hero-img-box{
        grid-row: 1;
    } */
    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);

    }

    .section-top {
        margin: 0;
    }


    .heading-secoundary,
    .heading-last {
        margin-left: 2rem;
        font-size: 3rem;
    }

    .mobile-block {
        display: none;
    }

    .title {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .title-secoundary {
        margin-bottom: 0rem;
    }
}







@media(max-width: 75em) {

    .hero {
        grid-template-columns: 1fr 1fr;
        /* padding: 4rem 2rem; */
        gap: 4rem;
        max-width: 110rem;
    }
    .container{
        max-width: 110rem;
        margin: auto;
    }
    .grid--3-cols {
        grid-template-columns: 1fr 1fr;

    }
    .section-hero{
   
        padding: 0 1rem  ;
        background-color: #fafafb;
    
    }



     .hero-img-box{
        grid-row: 1;
    } 

   

    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }

    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }


      /* MOBILE NAVIGATION */
      .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .main-nav {
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100vh;
        transform: translateX(40%);
        padding-top: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        transition: all 0.5s ease-in;

        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */

        /* 1) Hide it visually */
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0%);
      }

      .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
      }
    
      .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
      }
    
      .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
      }

      .section-top{
        padding: 5rem 0;
        /* border: 2px solid red ; */
    }
}


@media(max-width: 40em){
    .hero {
        grid-template-columns: 1fr ;
        /* padding: 4rem 2rem; */
        gap: 4rem;
        max-width: 110rem;
    }
    .container{
        max-width: 110rem;
        margin: auto;
    }
    .grid--3-cols {
        grid-template-columns: 1fr;

    }
}